<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Games.NBall.Dal.Properties.Settings.NB_ConfigConnectionString"
            connectionString="Data Source=115.28.140.73,20003;Initial Catalog=NB_Config;Persist Security Info=True;User ID=sa;Password=2df!3T*)d12" />
        <add name="Games.NBall.Dal.Properties.Settings.NBallConnectionString"
            connectionString="Data Source=115.28.140.73,20003;Initial Catalog=NBall;Persist Security Info=True;User ID=sa;Password=2df!3T*)d12" />
        <add name="Games.NBall.Dal.Properties.Settings.NB_ProcessConnectionString"
            connectionString="Data Source=180.150.177.96;Initial Catalog=NB_SystemLog;Persist Security Info=True;User ID=nbuser;Password=2df!3T*)d12" />
        <add name="Games.NBall.Dal.Properties.Settings.NB_SystemlogConnectionString"
            connectionString="Data Source=180.150.177.96;Initial Catalog=NB_SystemLog;Persist Security Info=True;User ID=nbuser;Password=2df!3T*)d12" />
        <add name="Games.NBall.Dal.Properties.Settings.NBallConnectionString1"
            connectionString="Data Source=180.150.177.96;Initial Catalog=NBall;Persist Security Info=True;User ID=nbuser;Password=2df!3T*)d12"
            providerName="System.Data.SqlClient" />
        <add name="Games.NBall.Dal.Properties.Settings.NB_ShadowConnectionString"
            connectionString="Data Source=180.150.177.96;Initial Catalog=NB_Shadow;Persist Security Info=True;User ID=nbuser;Password=2df!3T*)d12"
            providerName="System.Data.SqlClient" />
        <add name="Games.NBall.Dal.Properties.Settings.NBallConnectionString2"
            connectionString="Data Source=115.28.140.73,20003;Initial Catalog=NBall;Persist Security Info=True;User ID=sa;Password=2df!3T*)d12"
            providerName="System.Data.SqlClient" />
        <add name="Games.NBall.Dal.Properties.Settings.NB_SupportConnectionString"
            connectionString="Data Source=115.28.140.73,20003;Initial Catalog=NB_Support;Persist Security Info=True;User ID=sa;Password=2df!3T*)d12"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>