<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <htb.devfx>
    <framework>
      <modules>
        <!--应用程序模块-->
        <add name="appSetting" type="HTB.DevFx.Security.Web.WebModule, HTB.DevFx.Security.Web" linkNode="../../../appSetting" />
      </modules>
    </framework>

    <!--异常处理模块的配置节-->
    <!--<exception>
			<handlers>
				-->
    <!--WEB应用程序需要使用的异常处理器，注意配置defaultRedirect为发生错误时自动转向的页面地址-->
    <!--
				<update name="HttpWebExceptionHandler"
					defaultRedirect="~/devfx/main/error.aspx?hc={0}&amp;ec={1}&amp;level={2}&amp;msg={3}&amp;url={4}" checkRedirectFileExists="true" />
			</handlers>
		</exception>-->

    <!--认证授权模块的配置节-->
    <security>
      <!--数据库支持：Access使用OleDbDataProvider，SqlServer使用SqlDataProvider，Oracle使用OracleDataProvider；connectionName表示链接字符串名-->
      <dataProvider type="HTB.DevFx.Security.Data.SqlDataProvider, HTB.DevFx.Security" connectionName="Games.NBall.Dal.Properties.Settings.NB_ConfigConnectionString" />

      <!--框架内置验证器-->
      <authenticator type="HTB.DevFx.Security.Authenticator, HTB.DevFx.Security" />
     
      <!--认证配置，cacheName表示用户缓存器名，依赖Cache的配置-->
      <authentication cacheName="security">
        <!--FORM认证方式配置，name表示发送到客户端的Cookie名称，path为Cookie的有效路径，loginUrl是登录页面地址，timeout表示用户过期时间（秒）-->
        <forms name=".devfxauth" path="~/" loginUrl="~/devfx/main/login.aspx" timeout="2000">
        </forms>
      </authentication>
    </security>

    <!--应用程序模块的配置节-->
    <appSetting>
      <!--应用系统名称，将出现在index.aspx和top.aspx文件中-->
      <appTitle>H5NBall</appTitle>
      <!--退出的时候是否提示-->
      <PromptOnExit>false</PromptOnExit>
      <!--是否展开菜单-->
      <BeExpandMenu>true</BeExpandMenu>
    </appSetting>
  </htb.devfx>
</configuration>