<%@ CodeTemplate Language="C#" TargetLanguage="C#" Inherits="MyCodeTemplate.BaseTemplate.BaseCSharpDatabaseTemplate" Description="Generates a very simple business object." ResponseEncoding="UTF-8" %>
<%@ Assembly Name="SchemaExplorer" %> 
<%@ Assembly Name="System.Data" %>
<%@ Assembly Name="MyCodeTemplate" %>
<%@ Import Namespace="SchemaExplorer" %>
<%@ Import Namespace="System.Data" %>
<?xml version="1.0"?>
<codeSmith xmlns="http://www.codesmithtools.com/schema/csp.xsd">
  <propertySets>
    <propertySet output=".\Procedure.csp" template="..\..\..\Support\CodeTemplate\SqlServerProcedure.csp.cst">
	  <property name="ClassNameRule"><%=ClassNameRule%></property>
	  <property name="Namespace"><%=Namespace.Trim()%>.SqlServerDAL</property>
      <property name="TablePrefix"><%=TablePrefix.Trim()==string.Empty?"\"\"":TablePrefix.Trim()%></property>
      <property name="SourceDatabase">
        <connectionString><%=SourceDatabase.ConnectionString%></connectionString>
        <providerType>SchemaExplorer.SqlSchemaProvider,SchemaExplorer.SqlSchemaProvider</providerType>
      </property>
    </propertySet>
<% 
 foreach(SchemaExplorer.TableSchema SourceTable in SourceDatabase.Tables) {
	if(IsOutputTable(SourceTable.Name)) {
%>
	<propertySet output=".\<%=GetClassName(SourceTable.Name)%>.csp" template="..\..\..\Support\CodeTemplate\Model.csp.cst">
	  <property name="ClassNameRule"><%=ClassNameRule%></property>
	  <property name="Namespace"><%=Namespace.Trim()%></property>
	  <property name="TablePrefix"><%=TablePrefix.Trim()==string.Empty?"\"\"":TablePrefix.Trim()%></property>	
      <property name="SourceTable">
        <connectionString><%=SourceTable.Database.ConnectionString%></connectionString>
        <providerType>SchemaExplorer.SqlSchemaProvider,SchemaExplorer.SqlSchemaProvider</providerType>
        <table>
          <owner>dbo</owner>
          <name><%=SourceTable.Name%></name>
        </table>
      </property>
      <property name="CanOverwriteOld">False</property>
    </propertySet>
<% } } %>
  </propertySets>
</codeSmith>

<script runat="template">

</script>