<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data" />
    <sectionGroup name="enyim.com">
      <section name="memcached" type="Enyim.Caching.Configuration.MemcachedClientSection, Enyim.Caching"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="IsDebug" value="true"/>
    <!--Log开关 1开，0 关-->
    <add key="LogSwitch" value="1"/>
    <!--log里 显示的appid-->
    <add key="AppName" value="WebServer"/>
  </appSettings>
  <connectionStrings>
    <add name="Games.NBall.Dal.Properties.Settings.NB_ConfigConnectionString"
              connectionString="Data Source=115.28.140.73,20003;Initial Catalog=H5NB_Config;Persist Security Info=True;User ID=nbuser;Password=2df!3T*)d12"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <enyim.com>
    <!--<memcached protocol="Binary|Text">-->
    <memcached protocol="Text">
      <servers>
        <!-- make sure you use the same ordering of nodes in every configuration you have -->
        <add address="127.0.0.1" port="11211"/>
      </servers>
      <socketPool minPoolSize="256" maxPoolSize="1024"/>
    </memcached>
  </enyim.com>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_Default" closeTimeout="00:02:00" openTimeout="00:02:00" receiveTimeout="00:02:00" sendTimeout="00:02:00" transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" listenBacklog="500" maxBufferPoolSize="524288" maxBufferSize="2147483647" maxConnections="500" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="64" maxStringContentLength="2147483647" maxArrayLength="16384000" maxBytesPerRead="4096000" maxNameTableCharCount="163840000"/>
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
          <security mode="None">
            <transport clientCredentialType="None" protectionLevel="None"/>
            <message clientCredentialType="None"/>
          </security>
        </binding>
        <binding name="NetTcpBinding_Client" closeTimeout="00:02:00" openTimeout="00:02:00" receiveTimeout="00:02:00" sendTimeout="00:02:00" transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" listenBacklog="500" maxBufferPoolSize="524288" maxBufferSize="2147483647" maxConnections="500" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="64" maxStringContentLength="2147483647" maxArrayLength="16384000" maxBytesPerRead="4096000" maxNameTableCharCount="163840000"/>
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false"/>
          <security mode="None">
            <transport clientCredentialType="None" protectionLevel="None"/>
            <message clientCredentialType="None"/>
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint name="NetTcp_IManagerService" address="net.tcp://localhost:20101/ManagerService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_Client" contract="Games.NBall.ServiceContract.IService.IManagerService"/>
      <endpoint name="NetTcp_ITourService" address="net.tcp://localhost:20102/TourService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_Client" contract="Games.NBall.ServiceContract.IService.ITourService"/>
      <endpoint name="NetTcp_IItemService" address="net.tcp://localhost:20103/ItemService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_Client" contract="Games.NBall.ServiceContract.IService.IItemService"/>
      <endpoint name="NetTcp_ITeammemberService" address="net.tcp://localhost:20104/TeammemberService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_Client" contract="Games.NBall.ServiceContract.IService.ITeammemberService"/>
      <endpoint name="NetTcp_ILadderService" address="net.tcp://localhost:20105/LadderService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_Client" contract="Games.NBall.ServiceContract.IService.ILadderService"/>
      <endpoint name="NetTcp_ILeagueService" address="net.tcp://localhost:20106/LeagueService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_Client" contract="Games.NBall.ServiceContract.IService.ILeagueService"/>
      <endpoint name="NetTcp_IMatchDataService" address="net.tcp://localhost:20107/MatchDataService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_Client" contract="Games.NBall.ServiceContract.IService.IMatchDataService"/>
      <endpoint name="NetTcp_ITrainThreadService" address="net.tcp://localhost:20108/TrainThreadService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_Client" contract="Games.NBall.ServiceContract.IService.ITrainThreadService"/>
      <endpoint name="NetTcp_IMallService" address="net.tcp://localhost:20109/MallService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_Client" contract="Games.NBall.ServiceContract.IService.IMallService"/>
      <endpoint name="NetTcp_ISkillCardService" address="net.tcp://localhost:20110/SkillCardService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_Client" contract="Games.NBall.ServiceContract.IService.ISkillCardService"/>
      <endpoint name="NetTcp_IDailycupService" address="net.tcp://localhost:20111/DailycupService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_Client" contract="Games.NBall.ServiceContract.IService.IDailycupService"/>
      <endpoint name="NetTcp_IScoutingService" address="net.tcp://localhost:20112/ScoutingService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_Client" contract="Games.NBall.ServiceContract.IService.IScoutingService"/>
      <endpoint name="NetTcp_IManagerSkillService" address="net.tcp://localhost:20113/ManagerSkillService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_Client" contract="Games.NBall.ServiceContract.IService.IManagerSkillService"/>
      <endpoint name="NetTcp_ITaskService" address="net.tcp://localhost:20114/TaskService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_Client" contract="Games.NBall.ServiceContract.IService.ITaskService"/>
      <endpoint name="NetTcp_IMailService" address="net.tcp://localhost:20115/MailService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_Client" contract="Games.NBall.ServiceContract.IService.IMailService"/>
      <endpoint name="NetTcp_IAuctionService" address="net.tcp://localhost:20116/AuctionService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_Client" contract="Games.NBall.ServiceContract.IService.IAuctionService"/>
      <endpoint name="NetTcp_IWorldChallengeService" address="net.tcp://localhost:20117/WorldChallengeService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_Client" contract="Games.NBall.ServiceContract.IService.IWorldChallengeService"/>
      <endpoint name="NetTcp_IFriendService" address="net.tcp://localhost:20118/FriendService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_Client" contract="Games.NBall.ServiceContract.IService.IFriendService"/>
      <endpoint name="NetTcp_IRankService" address="net.tcp://localhost:20119/RankService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_Client" contract="Games.NBall.ServiceContract.IService.IRankService"/>
      <endpoint name="NetTcp_IOnlineService" address="net.tcp://localhost:20120/OnlineService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_Client" contract="Games.NBall.ServiceContract.IService.IOnlineService"/>
      <endpoint name="NetTcp_IAdminService" address="net.tcp://localhost:20121/AdminService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_Client" contract="Games.NBall.ServiceContract.IService.IAdminService"/>
      <endpoint name="NetTcp_IArenaService" address="net.tcp://localhost:20128/ArenaService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_Client" contract="Games.NBall.ServiceContract.IService.IArenaService" />
      <endpoint name="NetTcp_INationaldayactivityCardinfo" address="net.tcp://localhost:20228/NationaldayactivityCardinfo" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_Client" contract="Games.NBall.ServiceContract.IService.IService.INationaldayactivityCardinfo" />
      
      <endpoint name="NetTcp_ICoachService" address="net.tcp://localhost:20131/CoachService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_Client" contract="Games.NBall.ServiceContract.IService.ICoachService" />
      <endpoint name="NetTcp_IA8csdkService" address="net.tcp://localhost:20132/A8csdkService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_Client" contract="Games.NBall.ServiceContract.IService.IService.IA8csdk" />
      <endpoint name="NetTcp_IGamlbeService" address="net.tcp://localhost:20133/GamlbeService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_Client" contract="Games.NBall.ServiceContract.IService.GamlbeService" />
      <endpoint name="NetTcp_IStatisticService" address="net.tcp://localhost:20134/StatisticService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_Client" contract="Games.NBall.ServiceContract.IService.StatisticService" />

      <endpoint name="NetTcp_IChattingService" address="net.tcp://localhost:20180/ChattingService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_Client" contract="Games.Chatting.Services.IChattingService"/>
      

    </client>
  </system.serviceModel>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
  <log4net>
    <!--定义日志的输出媒介,按照一种类型或其他类型输出。-->
    <root>
      <!--日志级别DEBUG,INFO,ERROR,ALL-->
      <level value="INFO"/>
      <appender-ref ref="RollingLogFileAppenderRunning"/>
      <appender-ref ref="RollingLogFileAppenderError"/>
      <appender-ref ref="RollingLogFileAppenderDebug"/>
    </root>
    <!--正常运行日志信息log.Info()调用时写入-->
    <appender name="RollingLogFileAppenderRunning" type="log4net.Appender.RollingFileAppender">
      <!--运行日志存放路径-->
      <param name="File" value=".\\logs\\RUN\\"/>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="INFO"/>
        <param name="LevelMax" value="WARN"/>
      </filter>
      <param name="AppendToFile" value="true"/>
      <param name="MaxSizeRollBackups" value="10"/>
      <param name="StaticLogFileName" value="false"/>
      <param name="DatePattern" value="yyyyMMdd&quot;.log&quot;"/>
      <param name="RollingStyle" value="Date"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] - %m%n%n"/>
      </layout>
    </appender>
    <!--异常日志信息log.Error()调用时写入-->
    <appender name="RollingLogFileAppenderError" type="log4net.Appender.RollingFileAppender">
      <!--异常日志存放路径-->
      <param name="File" value=".\\logs\\ERROR\\"/>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="ERROR"/>
        <param name="LevelMax" value="ERROR"/>
      </filter>
      <param name="AppendToFile" value="true"/>
      <param name="MaxSizeRollBackups" value="10"/>
      <param name="StaticLogFileName" value="false"/>
      <param name="DatePattern" value="yyyyMMdd&quot;.log&quot;"/>
      <param name="RollingStyle" value="Date"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] - %m%n%n"/>
      </layout>
    </appender>
    <!--可还原日志信息log.Debug()调用时写入-->
    <appender name="RollingLogFileAppenderDebug" type="log4net.Appender.RollingFileAppender">
      <!--可还原日志存放路径-->
      <param name="File" value=".\\logs\\debug\\"/>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="DEBUG"/>
        <param name="LevelMax" value="DEBUG"/>
      </filter>
      <param name="AppendToFile" value="true"/>
      <param name="MaxSizeRollBackups" value="10"/>
      <param name="StaticLogFileName" value="false"/>
      <param name="DatePattern" value="yyyyMMdd&quot;.log&quot;"/>
      <param name="RollingStyle" value="Date"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] - %m%n%n"/>
      </layout>
    </appender>
  </log4net>
</configuration>
