<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <sectionGroup name="enyim.com">
      <section name="memcached" type="Enyim.Caching.Configuration.MemcachedClientSection, Enyim.Caching" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="IsDebug" value="true" />
    <!--大区编号，每个区不一样-->
    <add key="ZoneName" value="qhs1" />
    <!--Log开关 1开，0 关-->
    <add key="LogSwitch" value="1" />
    <!--log里 显示的appid-->
    <add key="AppName" value="MainServer" />
    <!--关闭作业-->
    <add key="DisableSchedule" value="0" />
    <add key="NotShadowItem" value="0" />
    <add key="ShadowCoin" value="1" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <add name="Games.NBall.Dal.Properties.Settings.NB_ConfigConnectionString" connectionString="Data Source=123.206.214.244;Initial Catalog=H5NB_Config;Persist Security Info=True;User ID=H5NballUser;Password=2df!3T*)d12" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.runtime.caching>
    <memoryCache>
      <namedCaches>
        <add name="default" cacheMemoryLimitMegabytes="0" pollingInterval="00:02:00" />
      </namedCaches>
    </memoryCache>
  </system.runtime.caching>
  <enyim.com>
    <!--<memcached protocol="Binary|Text">-->
    <memcached protocol="Text">
      <servers>
        <add address="127.0.0.1" port="11211" />
      </servers>
      <socketPool minPoolSize="256" maxPoolSize="1024" />
    </memcached>
  </enyim.com>
  <system.serviceModel>
    <diagnostics performanceCounters="Off">
    </diagnostics>
    <bindings>
      <netTcpBinding>
        <binding name="netTcpBindingDefault_Server" maxConnections="65535" listenBacklog="65535" transactionFlow="false" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" receiveTimeout="00:10:00" portSharingEnabled="false">
          <security mode="None">
            <transport clientCredentialType="None" protectionLevel="None" />
            <message clientCredentialType="None" />
          </security>
          <reliableSession enabled="false" />
          <readerQuotas maxArrayLength="2147483647" maxDepth="64" maxStringContentLength="2147483647" />
        </binding>
        <binding name="NetTcpBinding_Client" closeTimeout="00:02:00" openTimeout="00:02:00" receiveTimeout="00:02:00" sendTimeout="00:02:00" transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" listenBacklog="500" maxBufferPoolSize="524288" maxBufferSize="2147483647" maxConnections="500" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="64" maxStringContentLength="2147483647" maxArrayLength="16384000" maxBytesPerRead="4096000" maxNameTableCharCount="163840000" />
          <reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
          <security mode="None">
            <transport clientCredentialType="None" protectionLevel="None" />
            <message clientCredentialType="None" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <services>
      <!--Service 端口第一位固定为2;
      第二位第三位表示该服务在当前服务器上的编号1-99，如该服务器上部署两个Main,则一个为1，一个为2;    
      最后两位表示服务编号,1-99.
      20101 表示 本机 第一个(..1..)  Manager(...01)服务
      -->
      <service behaviorConfiguration="ServiceBehavior" name="Games.NBall.ServiceContract.Service.ManagerService">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:20801/ManagerService"/>
          </baseAddresses>
        </host>
        <endpoint address="net.tcp://localhost:20801/ManagerService" binding="netTcpBinding" bindingConfiguration="netTcpBindingDefault_Server" contract="Games.NBall.ServiceContract.IService.IManagerService"/>
      </service>

      <service behaviorConfiguration="ServiceBehavior" name="Games.NBall.ServiceContract.Service.ItemService">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:20803/ItemService"/>
          </baseAddresses>
        </host>
        <endpoint address="net.tcp://localhost:20803/ItemService" binding="netTcpBinding" bindingConfiguration="netTcpBindingDefault_Server" contract="Games.NBall.ServiceContract.IService.IItemService"/>
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="Games.NBall.ServiceContract.Service.TeammemberService">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:20804/TeammemberService"/>
          </baseAddresses>
        </host>
        <endpoint address="net.tcp://localhost:20804/TeammemberService" binding="netTcpBinding" bindingConfiguration="netTcpBindingDefault_Server" contract="Games.NBall.ServiceContract.IService.ITeammemberService"/>
      </service>
     
    </services>
    <extensions>
      <behaviorExtensions>
        <add name="errorHandler" type="Games.NBall.ServiceEngine.Extensions.ErrorHandlerElement, Games.NBall.ServiceEngine, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
        <add name="extendInvoker" type="Games.NBall.ServiceEngine.Extensions.ExtendInvokerElement, Games.NBall.ServiceEngine, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <endpointBehaviors>
        <behavior>
          <!--
          <clientCredentials />
          <dataContractSerializer />
          <enableWebScript />
          <webHttp />
          -->
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="false" policyVersion="Policy15" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
          <!--principalPermissionMode="None/UseWindowsGroups/UseAspNetRoles/Custom" roleProviderName="String" serviceAuthorizationManagerType="String"-->
          <serviceAuthorization principalPermissionMode="None" impersonateCallerForAllOperations="false" />
          <serviceCredentials>
            <windowsAuthentication allowAnonymousLogons="true" includeWindowsGroups="false" />
          </serviceCredentials>
          <!--<extendInvoker/>-->
          <errorHandler />
          <serviceTimeouts transactionTimeout="00:10:00" />
          <!-- MaxConcurrentSessions: default is 100 * ProcessorCount; MaxConcurrentCalls: default is 16 * ProcessorCount; MaxConcurrentInstances: default is the total of the above two -->
          <serviceThrottling maxConcurrentCalls="65535" maxConcurrentSessions="65535" maxConcurrentInstances="65535" />
          <!--<serviceAuthorization principalPermissionMode="Custom" />-->
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" />
    <standardEndpoints>
    </standardEndpoints>
    <client>
      <endpoint name="NetTcp_IMatchService" address="net.tcp://localhost:20001/MatchService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_Client" contract="Games.NB.Match.BLF.IMatchService" />
      <endpoint name="NetTcp_IChattingService" address="net.tcp://localhost:20280/ChattingService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_Client" contract="Games.Chatting.Services.IChattingService" />
      <endpoint name="NetTcp_IActivityService" address="net.tcp://localhost:20822/ActivityService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_Client" contract="Games.NBall.ServiceContract.IService.IActivityService" />

      <endpoint name="NetTcp_ICrossSiteService" address="net.tcp://localhost:50180/CrossSiteService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_Client" contract="Games.NBall.ServiceContract.IService.ICrossSiteService" />
      <endpoint name="NetTcp_IGuildWarMasterService" address="net.tcp://localhost:50181/GuildWarMasterService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_Client" contract="Games.NBall.ServiceContract.IService.IGuildWarMasterService" />
      <endpoint name="NetTcp_ICrossCrowdService" address="net.tcp://localhost:50182/CrossCrowdService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_Client" contract="Games.NBall.ServiceContract.IService.ICrossCrowdService"/>
      <endpoint name="NetTcp_ICrossLadderService" address="net.tcp://localhost:50183/CrossLadderService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_Client" contract="Games.NBall.ServiceContract.IService.ICrossLadderService"/>


    </client>
  </system.serviceModel>
  <system.serviceModel.activation>
    <net.tcp listenBacklog="1024" maxPendingAccepts="1024" maxPendingConnections="1024" receiveTimeout="00:00:10" teredoEnabled="false">
      <allowAccounts>
        <!-- LocalSystem account -->
        <add securityIdentifier="S-1-5-18" />
        <!-- LocalService account -->
        <add securityIdentifier="S-1-5-19" />
        <!-- Administrators account -->
        <add securityIdentifier="S-1-5-20" />
        <!-- Network Service account -->
        <add securityIdentifier="S-1-5-32-544" />
        <!-- IIS_IUSRS account (Vista only) -->
        <add securityIdentifier="S-1-5-32-568" />
      </allowAccounts>
    </net.tcp>
  </system.serviceModel.activation>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <system.web>
    <compilation debug="false" targetFramework="4.5" />
    <processModel maxWorkerThreads="500" maxIoThreads="500" minWorkerThreads="2" />
    <httpRuntime minFreeThreads="704" minLocalRequestFreeThreads="608" />
    <!--<httpRuntime minFreeThreads="250" minLocalRequestFreeThreads="250"/>-->
    <!--<applicationPool maxConcurrentRequestsPerCPU="12" maxConcurrentThreadsPerCPU="0" requestQueueLimit="5000"/>-->
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <gcServer enabled="true " />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Castle.Core" publicKeyToken="407DD0808D44FBDC" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.5.0.0" newVersion="2.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <log4net>
    <!--定义日志的输出媒介,按照一种类型或其他类型输出。-->
    <root>
      <!--日志级别DEBUG,INFO,ERROR,ALL-->
      <level value="INFO" />
      <appender-ref ref="RollingLogFileAppenderRunning" />
      <appender-ref ref="RollingLogFileAppenderError" />
      <appender-ref ref="RollingLogFileAppenderDebug" />
      <appender-ref ref="ConsoleAppender" />
    </root>
    <!--正常运行日志信息log.Info()调用时写入-->
    <appender name="RollingLogFileAppenderRunning" type="log4net.Appender.RollingFileAppender">
      <!--运行日志存放路径-->
      <param name="File" value=".\\logs\\RUN\\" />
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="INFO" />
        <param name="LevelMax" value="WARN" />
      </filter>
      <param name="AppendToFile" value="true" />
      <param name="MaxSizeRollBackups" value="10" />
      <param name="StaticLogFileName" value="false" />
      <param name="DatePattern" value="yyyyMMdd&quot;.log&quot;" />
      <param name="RollingStyle" value="Date" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] - %m%n%n" />
      </layout>
    </appender>
    <!--异常日志信息log.Error()调用时写入-->
    <appender name="RollingLogFileAppenderError" type="log4net.Appender.RollingFileAppender">
      <!--异常日志存放路径-->
      <param name="File" value=".\\logs\\ERROR\\" />
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="ERROR" />
        <param name="LevelMax" value="ERROR" />
      </filter>
      <param name="AppendToFile" value="true" />
      <param name="MaxSizeRollBackups" value="10" />
      <param name="StaticLogFileName" value="false" />
      <param name="DatePattern" value="yyyyMMdd&quot;.log&quot;" />
      <param name="RollingStyle" value="Date" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] - %m%n%n" />
      </layout>
    </appender>
    <!--可还原日志信息log.Debug()调用时写入-->
    <appender name="RollingLogFileAppenderDebug" type="log4net.Appender.RollingFileAppender">
      <!--可还原日志存放路径-->
      <param name="File" value=".\\logs\\debug\\" />
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="DEBUG" />
        <param name="LevelMax" value="DEBUG" />
      </filter>
      <param name="AppendToFile" value="true" />
      <param name="MaxSizeRollBackups" value="10" />
      <param name="StaticLogFileName" value="false" />
      <param name="DatePattern" value="yyyyMMdd&quot;.log&quot;" />
      <param name="RollingStyle" value="Date" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] - %m%n%n" />
      </layout>
    </appender>
    <!--控制台输出-->
    <appender name="ConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
      <mapping>
        <level value="ERROR" />
        <foreColor value="White" />
        <backColor value="Red, HighIntensity" />
      </mapping>
      <mapping>
        <level value="DEBUG" />
        <foreColor value="Green" />
      </mapping>
      <mapping>
        <level value="WARN" />
        <foreColor value="White" />
        <backColor value="Blue, HighIntensity" />
      </mapping>
      <mapping>
        <level value="INFO" />
        <foreColor value="White" />
      </mapping>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%thread:%level] %message%newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <acceptOnMatch value="true" />
        <levelMin value="DEBUG" />
        <levelMax value="ERROR" />
      </filter>
    </appender>
  </log4net>
</configuration>